<div class="">
    <form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label> No Documento</label>
        <input type="text" class="form-control" id="documento" [(ngModel)]="mecanico.documento" name="firstName">
    </div>
    <div class="form-group">
        <label> tipo_documento</label>
        <input type="text" class="form-control" id="tipo_documento" [(ngModel)]="mecanico.tipo_documento" name="firstName">
    </div>
    <div class="form-group">
        <label> Primer Nombre</label>
        <input type="text" class="form-control" id="primernombre" [(ngModel)]="mecanico.primerNombre" name="lastName">
    </div>
    <div class="form-group">
        <label> segundoNombre</label>
        <input type="text" class="form-control" id="segundoNombre" [(ngModel)]="mecanico.segundoNombre" name="lastName">
    </div>

    <div class="form-group">
        <label> primerApellido</label>
        <input type="text" class="form-control" id="primerApellido" [(ngModel)]="mecanico.primerApellido" name="lastName">
    </div>

    <div class="form-group">
        <label> segundoApellido</label>
        <input type="text" class="form-control" id="segundoApellido" [(ngModel)]="mecanico.segundoApellido" name="lastName">
    </div>  
    <div class="form-group">
        <label> celular</label>
        <input type="text" class="form-control" id="celular" [(ngModel)]="mecanico.celular" name="lastName">
    </div>
    <div class="form-group">
        <label> direccion</label>
        <input type="text" class="form-control" id="direccion" [(ngModel)]="mecanico.direccion" name="lastName">
    </div>
    <div class="form-group">
        <label> email</label>
        <input type="text" class="form-control" id="email" [(ngModel)]="mecanico.email" name="lastName">
    </div>

    <button class="btn btn-success" type="submit">Submit</button>
</form> 

</div>
